/*@import "bootstrap.min.css";*/
@import "button.css";
@import "navbar.css";
@import "animation.css";
/*@import "app.css";*/
@import "sprites.css";
@import "selectize.default.css";
@import "nouislider.css";
@import "nouislider.pips.css";
@import "home.css";

/* NO UI Slider */
#showcase {
    margin: 0 20px;
    text-align: center;
}
#range {
    height: 20px;
    margin: 0 auto 20px;
}
#value-span,
#value-input {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    margin: 0;
}

/* Body */
body
{
  font-size: 16px;
  line-height: 30px;
  font-family: "Open Sans","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-weight: 300;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
a {
	color: #1ab2e8;
	text-decoration: none;
}

/* Logo override*/
.logo1 {
    margin: 10px;
    margin-top:20px;
}

.desc {
    padding: 20px;
}

#bg-cover
{
	/*background: url(Display_psd.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #fff;
}

.text-head { font-size:30px; font-weight:bold; }
.text-sub-head { font-size:25px; font-weight:bold; margin:10px 10px 10px 10px; }
.cc{ font-size:10px; text-transform: uppercase;  }
.white { color:#fff; }
.wrap { background-color: #fff; padding: 20px; }
.full-width { width:100% !important; }
.center { text-align: center; }
.text-small { font-size: 12px; }
.justify { text-align: justify; }
.highlight-red { color: #D0021B; font-weight: bold; }



/* Signin form */
.form-signin input[type="email"],input[type="text"],textarea
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control, .form-control:focus
{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-lg, .form-horizontal .form-group-lg .form-control
{
  height: 46px;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 0;
  /*font-weight: 400;*/
}

/* Override headings */
h1, .h1 {
  font-size: 30px !important;
  font-weight: 400;
}

/* Hide visibility */
.hidden{
  visibility: hidden;
}
/* Warning color palatte - http://www.colourlovers.com/palette/346497/Warning_Signs?c=1 */

.input-error
{
  box-shadow: 0 0 5px rgba(255,188,188,0.64) !important;
  border: 1px solid #ffb3b3 !important;
}

/* Horizontal rule - http://konigi.com/tools/css-techniques-horizontal-rules */
hr.faded {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 1.4em 0;
  border: none;
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}

/* Social icons in the footer */
.social {
    margin-top: 25px;
}
.social > center > a {
    padding: 10px;
}

.btn {
    font-weight: 300;
}
