/* Buttons */

.btn-xlg, .btn-group-xlg>.btn {
    padding: 20px 35px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 0;
}


.btn-blue {
	background-color: #1ab2e8;
	border-color: #1ab2e8;
	border-radius:0px;
	border-width: 2px;
	color: #fff;
	text-transform: uppercase;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
	background-color: #18A4D6;
	border-color: #18A4D6;
	border-radius:0px;
	border-width: 2px;
	/*font-weight: bold;*/
	color: #fff;
	text-transform: uppercase;
      /*animate*/
      /*-webkit-animation-duration: 1s;
        animation-duration: 1s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      -webkit-animation-name: pulse;
        animation-name: pulse;*/

}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
	background-color: #1ab2e8;
	border-color: #1ab2e8;
	color:#fff;
	border-radius:0px;
	border-width: 3px;
	text-transform: uppercase;
}


.btn-red {
    background-color: #D0021B;
    border-color: #D0021B;
    border-radius:0px;
    border-width: 2px;
    color: #fff;
    text-transform: uppercase;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
    background-color: #B8071C;
    border-color: #B8071C;
    border-radius:0px;
    border-width: 2px;
    /*font-weight: bold;*/
    color: #fff;
    text-transform: uppercase;
      /*animate*/
      /*-webkit-animation-duration: 1s;
        animation-duration: 1s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      -webkit-animation-name: pulse;
        animation-name: pulse;*/

}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
    background-color: #D0021B;
    border-color: #D0021B;
    color:#fff;
    border-radius:0px;
    border-width: 3px;
    text-transform: uppercase;
}



.btn-green {
	background-color: #2ecc71;
	border-color: #2ecc71;
	border-radius:0px;
	border-width: 2px;
	text-transform: uppercase;
	color:#fff;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
	background-color: #2ABA67;
	border-color: #2ABA67;
	border-radius:0px;
	border-width: 2px;
	font-weight: bold;
	text-transform: uppercase;
	color:#fff;
      /*animate*/
      /*-webkit-animation-duration: 1s;
        animation-duration: 1s;
      -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      -webkit-animation-name: pulse;
        animation-name: pulse;*/

}
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
	background-color: #2ecc71;
	border-color: #2ecc71;
	color:#fff;
	border-radius:0px;
	border-width: 3px;
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
}




.btn-start {
    background-color: #FFCF00;
    border-color: #FFCF00;
    border-radius:0px;
    border-width: 3px;
}
.btn-start:hover,
.btn-start:focus,
.btn-start:active,
.btn-start.active {
	background-color: #FFB800;
	border-color: #FFB800;
	border-radius:0px;
	border-width: 3px;
	font-weight: bold;

	/*animate*/
/*	-webkit-animation-duration: 1s;
	  animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	-webkit-animation-name: pulse;
	  animation-name: pulse;*/

}
.btn-start.disabled:hover,
.btn-start.disabled:focus,
.btn-start.disabled:active,
.btn-start.disabled.active,
.btn-start[disabled]:hover,
.btn-start[disabled]:focus,
.btn-start[disabled]:active,
.btn-start[disabled].active,
fieldset[disabled] .btn-start:hover,
fieldset[disabled] .btn-start:focus,
fieldset[disabled] .btn-start:active,
fieldset[disabled] .btn-start.active {
	background-color: #1ab2e8;
	border-color: #1ab2e8;
	color:#fff;
	border-radius: 0px;
	border-width: 3px;
}

