@charset "UTF-8";

@font-face {
  font-family: "dotinsights";
  src:url("fonts/dotinsights.eot");
  src:url("fonts/dotinsights.eot?#iefix") format("embedded-opentype"),
    url("fonts/dotinsights.woff") format("woff"),
    url("fonts/dotinsights.ttf") format("truetype"),
    url("fonts/dotinsights.svg#dotinsights") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dotinsights" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dotinsights" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chart-line:before {
  content: "e";
}
.icon-signal:before {
  content: "d";
}
.icon-camera:before {
  content: "f";
}
.icon-search-find:before {
  content: "c";
}
.icon-filter:before {
  content: "g";
}
.icon-cog-gear:before {
  content: "h";
}
.icon-caret-up-down:before {
  content: "i";
}
.icon-arrow-right:before {
  content: "j";
}
.icon-book:before {
  content: "k";
}
.icon-thumbnails-large:before {
  content: "l";
}
.icon-list-2:before {
  content: "m";
}
.icon-gears-setting:before {
  content: "n";
}
.icon-code-fork:before {
  content: "o";
}
.icon-close-delete:before {
  content: "p";
}
.icon-check:before {
  content: "q";
}
.icon-information-white:before {
  content: "r";
}
.icon-cursor-move:before {
  content: "s";
}
.icon-plus:before {
  content: "t";
}
.icon-chevron-left:before {
  content: "u";
}
.icon-chevron-right-1:before {
  content: "w";
}
.icon-code-1:before {
  content: "b";
}
.icon-eye:before {
  content: "a";
}
.icon-eye-slash-close:before {
  content: "v";
}
