/* Home Page */
.banner {
    background-color:transparent;
    padding-top:50px;
    padding-bottom:100px;
}

.how-it-works {
    background-color:#f9f9f9;
    padding-top:70px;
    padding-bottom:70px;
}