
/* Nav bar menus */
  .nav>li>a,.nav>li>a:hover, .nav>li>a:focus
  { background-color: transparent; font-size: 14px; margin:20px 30px 0px 0px; padding:5px 15px 5px 15px; color: #757575; text-transform: uppercase; }
  .nav-border { border: solid 2px #D0021B; color: #D0021B !important;  }
