.car, .analyse, .tellus, .suggest, .logo {
  display: inline-block;
background-image: url(../images/sprites.png);
  background-repeat: no-repeat
}

.car {
  background-position: -0px -0px;
  height: 96px;
  width: 347px
}

.analyse {
  background-position: -0px -96px;
  height: 70px;
  width: 102px
}

.tellus {
  background-position: -102px -96px;
  height: 69px;
  width: 75px
}

.suggest {
  background-position: -177px -96px;
  height: 69px;
  width: 64px
}

.logo {
  background-position: -0px -166px;
  height: 43px;
  width: 151px
}

