<html>
<body>

<p>Vehicle Details </p>
<ul>
    <li>KMS - {{ page.vehicle.kms }}</li>
    <li>Budget - {{ page.vehicle.budget_min }} to {{ page.vehicle.budget_max }}</li>
    <li>Seating - {{ page.vehicle.seating }}</li>
    <li>Saftey - {{ page.vehicle.saftey }}</li>
    <li>Comfort - {{ page.vehicle.comfort }}</li>
    <li>Economy - {{ page.vehicle.economy }}</li>
</ul>

<p>User Details </p>
<ul>
    <li>Name - {{ page.user.name }}</li>
    <li>City - {{ page.user.city }}</li>
    <li>Email - {{ page.user.email }}</li>
    <li>Mobile - {{ page.user.mobile }}</li>
    <li>Desc - {{ page.user.desc }}</li>
</ul>

  </body>
  </html>