<html>
<body>

<p>Dear {{ page.user.name }},</p>

<p>Thank you! for getting in touch with us.</p>

<p>Based on your input our experts are working on to find the best car that suit your needs. You can expect our suggestion with in 1 - 3 working days.</p>

<p>Meanwhile, you can add our email hello@autozoom.in to your contacts so that you won’t miss our future emails.</p>

<p>Regards,<br />
Arul Kumar,<br />
Founder,<br />
AutoZoom.in</p>
  </body>
  </html>