<div class="container">
    <div class="row">
        <div class="col-md-12 social">
            <center>
                <a href="http://fb.com/autozoomin" target="_blank">Facebook</a>
                <a href="http://twitter.com/autozoomin" target="_blank">Twitter</a>
                <a href="https://plus.google.com/+autozoomin/" target="_blank">Google +</a>
            </center>
        </div>
    </div>
</div>

