<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="1150577241eac39adeba61b17ddf7482"/>

    <!-- OpenGraph Facebook Start -->
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="canonical" href="{{ page.url }}">
    <link rel="author" href="http://www.fb.com/autozoomin">
    <meta name="author" content="autozoom.in" />

    <!-- Google+ profiles -->
    <link rel="publisher" href="https://plus.google.com/u/0/b/102707066132173745528">
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.meta_keywords }}" />

    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:site_name" content="AutoZoom">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="{{ page.main_image }}" />
    <meta property="fb:app_id" content="719170424815460">
    <meta property="og:type" content="article"/>
    <meta property="article:author" content="http://www.fb.com/autozoomin" />
    <meta property="article:publisher" content="http://www.fb.com/autozoomin" />
    <meta property="article:section" content="Automotive" />
    <meta property="article:published_time" content="" />
    <meta property="article:modified_time" content="" />
    <meta property="article:tag" content="" />

    <!-- Twitter Card -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ page.title }} - AutoZoom.in" />
    <meta property="twitter:description" content="{{ page.summary }}" />
    <meta property="twitter:image" content="{{ page.main_image }}" />
    <meta property="twitter:url" content="{{ page.url }}" />
    <meta property="twitter:site" content="@autozoomin" />
    <meta property="twitter:creator" content="@autozoomin" />

    <title>{% block title %} {% endblock %}</title>
    {% include "_style.html" %}
</head>

<body>
    {% include "_header.html" %}
    {% block content %}{% endblock %}
    {% include "_footer.html" %}
    {% include "_script.html" %}
    {% block scripts %} {% endblock %}
</body>

</html>
