<div class="navbar navbar-simple navbar-static-top">
    <div class="container" style="padding: 10px; padding-top:20px;">
        <div class="navbar-header ">
            <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></a>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <!-- <a class="navbar-brand" href="#"><span class="logo"><span/></a> -->
            <div class="logo"></div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://twitter.com/autozoomin" class="twitter-follow-button" data-show-count="false">Follow @autozoomin</a>
                </li>
            </ul>
        </div>
    </div>
</div>
