{% extends "_layout.html" %}
{% block title %} Which new car to buy in India ? Get free personalised suggestion. {% endblock %}
{% block content %}
<div class="container-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-head">Which car to buy ? Confused ?</h1>
                <h3>Get FREE personalised suggestion.</h3>
            </div>
            <div class="col-md-4">
                <div class="car"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top:25px;">
                <a href="/which-new-car-to-buy-india"  class="btn btn-xlg btn-red">GET FREE SUGGESTION</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-sub-head">How it works ?</h1>
            </div>
        </div>
        <div class="row" style="padding-top:70px;">
            <div class="col-md-4">
                <center>
                    <div class="tellus"></div>
                    <p class="desc">Tell us your priorities like fuel economy, maintenance, performance, comfort and convenience etc.,</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <div class="analyse"></div>
                    <p class="desc">Our team analyses cars from over 50 brands, 250 models and 1000 variants.</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <div class="suggest"></div>
                    <p class="desc">We suggest you right cars that matches your priorities. </p>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color:#fff;padding-top:70px;padding-bottom:70px;">
    <div class="row">
        <div class="col-md-12">
            <center>
                <a href="/which-new-car-to-buy-india"  class="btn btn-xlg btn-red">GET FREE SUGGESTION</a>
            </center>
        </div>
    </div>
</div>
{% endblock %}
