{% extends "_layout.html" %} {% block title %} Which new car to buy in India ? Get free personalised suggestion. {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-sub-head center">Which car to buy in India ?</h1>
                <hr class="faded" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 center">
                <div class="row">
                    <div class="col-md-offset-1 col-md-11 center"> &nbsp;
                        <div class="car"></div>
                    </div>
                    <div class="col-md-12 justify"> <br />
                        <p class="center highlight-red bold">Choosing a car from thousand of variants is a tedious task. We simplify it.</p>
                        <p>Drop us your requirement, our experts will analyse over 100 brands, 500 models, 1000 variants and suggest you the right one.</p>
                    </div>
                </div>
            </div>

            <form action="/get-suggestion" method="post" onsubmit="return validate()">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="center">Fill in your requirements</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control req" id="vehicle[kms]" name="vehicle[kms]" placeholder="KMs you drive a year ?">
                    </div>
                    <div class="col-md-6">
                        <select id="vehicle[fuel]" name="vehicle[fuel]" class="req">
                            <option value="">Fuel Preference ?</option>
                            <option value="Any">Any - I'm confused :|</option>
                            <option value="Petrol">Petrol</option>
                            <option value="Diesel">Diesel</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="exampleInputEmail1">Budget in Lakhs &#8377; </label>
                            <span id="slider-snap-value-lower"></span> -
                            <span id="slider-snap-value-upper"></span>
                            <div id="range"></div>
                            <input type="hidden" value="" id="vehicle[budget_min]" name="vehicle[budget_min]"/>
                            <input type="hidden" value="" id="vehicle[budget_max]" name="vehicle[budget_max]"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select id="vehicle[seating]" name="vehicle[seating]" class="req">
                            <option value="">Seating Capacity</option>
                            <option value="Any">Any</option>
                            <option value="5 Seater">5 seater</option>
                            <option value="5+ seater">5+ seater</option>
                        </select>
                    </div>
<!--                 </div>
                <div class="row"> -->
                    <div class="col-md-6">
                        <select id="vehicle[saftey]" name="vehicle[saftey]" class="req">
                            <option value="">Safety & Security</option>
                            <option value="Very Important">Should posses high level of safety</option>
                            <option value="Important">Essential safety</option>
                            <option value="Not Important">It's nice to have but not essential</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <select id="vehicle[comfort]"  name="vehicle[comfort]" class="req">
                            <option value="">Comfort and Convenience</option>
                            <option value="Very Important">Should have all bells & Whistles</option>
                            <option value="Important">Essential features</option>
                            <option value="Not Important">It's nice to have but not essential</option>
                        </select>
                    </div>
                <!-- </div>
                <div class="row"> -->
                    <div class="col-md-6">
                        <select id="vehicle[economy]"  name="vehicle[economy]" class="req">
                            <option value="">Economy - Mileage & Maintenance cost</option>
                            <option value="Lower cost">Lower cost</option>
                            <option value="Moderate">Moderate cost</option>
                            <option value="I don't mind">I don't mind</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <center>Contact details to send you the suggestion</center>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control req" id="user[name]" name="user[name]" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control req" id="user[city]" name="user[city]" placeholder="City">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control req" id="user[email]" name="user[email]" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control req" id="user[mobile]" name="user[mobile]" placeholder="Mobile">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="user[desc]" name="user[desc]" placeholder="Any thing else you would like to tell us ?">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-lg btn-red slideUp full-width">GET FREE SUGGESTION</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        //$('select').selectize();
        $('select').each(function(){
            $(this).selectize()
        });

        var slider = document.getElementById('range');

        noUiSlider.create(slider, {
            start: [ 5, 12 ], // Handle start position
            step: 1, // Slider moves in increments of '10'
            margin: 1, // Handles must be more than '20' apart
            connect: true, // Display a colored bar between the handles
            //direction: 'rtl', // Put '0' at the bottom of the slider
            //orientation: 'vertical', // Orient the slider vertically
            behaviour: 'tap', // Move handle on tap, bar is draggable
            range: { // Slider can select '0' to '100'
                'min': 2,
                'max': 40
            },
            // pips: { // Show a scale with the slider
            //     mode: 'steps',
            //     density: 5
            // }
        });

        var snapValues = [
            document.getElementById('slider-snap-value-lower'),
            document.getElementById('slider-snap-value-upper')
        ];

        var hiddenValues = [
            document.getElementById('vehicle[budget_min]'),
            document.getElementById('vehicle[budget_max]')
        ];

        slider.noUiSlider.on('update', function( values, handle ) {
            snapValues[handle].innerHTML = parseInt(values[handle]) + "L";
            hiddenValues[handle].value = parseInt(values[handle]);
        });
    });

    //Validate before post
    function validate() {
        var result = true;
        $(".req").each(function() {
            // console.log($(this));
            // console.log("-" + $(this).attr("name") + " / " + $(this).val());
            if($(this).attr("name") != undefined) {
                if($(this).val() == "") {
                    //alert("Please enter value for all the fields");
                    result = false;
                }
                else {
                    if(result == true)
                        result = true;
                }
            }
        });
        if(result==false) {
            alert("Please enter value for all the fields");
        }
        // for(var x in $(".req")) {
        //     console.log($(x).val());
            // if ($(x).is("input")) {
            //     if($(x).val() != "") {
            //         console.log($(x).val());
            //     }
            // }
            // else ($(x).is("select")) {
            //     console.log($(x).text());
            // }
        //}
        return result;
    }
    </script>
{% endblock %}