{% extends "_layout.html" %} {% block title %} Thank you! for your interest. {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-sub-head center">Which car to buy in India ?</h1>
                <p class="center highlight-red bold">
                <hr class="faded" />
            </div>
            <div class="row">
            <div class="col-md-12">
                <p class="center bold" style="font-size:20px; font-weight:normal; ">Thank you! We have sent you an email. It should have already reached your inbox. If not please check spam folder.</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}