{% extends "_layout.html" %}
{% block title %} Which new car to buy in India ? Get free personalised suggestion. {% endblock %}
{% block content %}

    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-sub-head center">Get Free Personalised Suggestion</h1>
            <hr class="faded" />
            <p class="center">Drop us you requirement and be rest assured we will help you out to find the right car.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">How many Kilometers you drive a year ?</label>
                <div>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Kms">
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Fuel Preference ?</label>
                <div>
                    <select>
                        <option value=""></option>
                        <option value="Any">Any - I'm confused :|</option>
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Budget in Lakhs Rs.</label>
                <div id="range"></div> <br />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Seating Capacity</label>
                <div>
                    <select>
                        <option value=""></option>
                        <option value="Any">Any</option>
                        <option value="5 Seater">5 seater</option>
                        <option value="5+ seater">5+ seater</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Safety & Security</label>
                <div>
                    <select>
                        <option value=""></option>
                        <option value="Very Important">Very Important - Should posses high level of safety</option>
                        <option value="Important">Important - Essential safety</option>
                        <option value="Not Important">Not Important - It's nice to have but not essential</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Comfort and Convenience</label>
                <div>
                    <select>
                        <option value=""></option>
                        <option value="Very Important">Very Important - Should have all bells & Whistles</option>
                        <option value="Important">Important - Essential features</option>
                        <option value="Not Important">Not Important - It's nice to have but not essential</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Economy - Mileage & Maintenance cost</label>
                <div>
                    <select>
                        <option value=""></option>
                        <option value="Lower cost">Lower cost of ownership matters the most</option>
                        <option value="Moderate">Moderate cost of ownership</option>
                        <option value="I don't mind">I don't mind - I am a racer boy.</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Please share your contact details to get back to you.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">Mobile</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <center>
                    <button type="submit" class="btn btn-lg btn-red slideUp">SUBMIT</button>
                </center>
            </div>
        </div>

        </div>
        </div>
 {% endblock %}